
/* Style the form container */
.form-container {
  width: 400px;
  margin: auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Style the form label */
label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

/* Style the form input */
input[type="text"],
input[type="number"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  font-size: 16px;
}

/* Style the form input when it's focused */
input[type="text"]:focus,
input[type="number"]:focus {
  outline: none;
  border-color: #008CBA;
}

/* Style the form submit button */
input[type="submit"] {
  background-color: #008CBA;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

/* Style the form submit button when it's hovered */
input[type="submit"]:hover {
  background-color: #005F6B;
}

#result {
  display: none;
  padding: 10px;
  margin: 10px 0px 10px 0;
  background-color: #e7f3fe;
  border: 1px solid #c3d7f3;
  border-radius: 5px;
  color: #3d5c9e;
  font-size: 14px;
}

input[type="number"][name="txtMobile"]::-webkit-inner-spin-button,
input[type="number"][name="txtMobile"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


